* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 24px;
}

.nav {
    display: flex;
    align-items: center;
}

.menu {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.social-links {
    margin-bottom: 10px;
}

.social-icon {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    position: relative;
}

img{
    width: 20px;
    left: 20px;
}

.social-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.social-icon:hover::after {
    opacity: 1;
}