* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #333;
    color: #fff;
}

.logo{
    font-size: 24px;
}

nav{
    display: flex;
    align-items: center;
}

.sidebar  {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media (max-width: 486px) {
    .sidebar{
        display: block;
    }

    /*a{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        border-radius: 5px;
    }

    a{
        margin: 10px 0;
    }*/
}

